.nav{
    display: flex;
    align-items: center;
    height: 70px;
    position: sticky;
    top:0;
    font-family: "Raleway", sans-serif;
    z-index: 1000;
}

.scrolled{
    background-color: #1B1A2EA9;
    backdrop-filter: blur(3px);
    z-index: 1000;
}

.logo{
    color: white;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    width: 60vw;
}

a{
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 21Px;
    font-weight: 600;
    letter-spacing:0.03cm;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px; 
    background: #A22FFF; 
    transition: width 0.3s ease-out;
}

a:hover::after {
    width: 100%;
} */

.nav-item:hover a {
    /* background: linear-gradient(91deg, #FFF 4%, #A22FFF 40%); */
    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #A22FFF;
    font-weight: 700;
}

a.active-link{
    color: #A22FFF;
    font-size: 21Px;
    font-weight: 700;
    letter-spacing:0.03cm;
    padding: 5px;
}